* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  max-width: 100%;
}

.errorMessage {
  color: #eb4a46;
  font-size: 0.75rem;
  display: none;
}

.error .errorMessage {
  display: block;
}
